<!DOCTYPE html>
<html>
<head>  
    <link rel="stylesheet" href="/css/login.css"/>   
	{{>common_header}}
</head>
<body>
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form">
			<input type="text" id="userName" placeholder="Username">
			<input type="password" id="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<script>
	const userInfo = { userName: '', password: '' }
	const login = () => {
		alert('hi');
		fetch('http://localhost:5013/' + 'em', {
			method: 'post',			
			headers: {
			'Content-Type': 'application/json'
			},
			body: JSON.stringify(userInfo)
			})
			.then(res => resolve(res.json())) 
	}

	document.querySelector('#login-button').addEventListener('click', (e) => {
		e.preventDefault();
		userInfo.userName = document.querySelector('#userName')
		userInfo.userName = document.querySelector('#password')
		login();
	})


</script>
</body>
</html>