<div id="app">
  <div class="nav">
    <ul>
      <li v-for="(navItem, index) in navLists" @click="navFilter(index, navItem.status)" class="nav-item" :class="{ active: index==nowNav }">{{navItem.txt}}</li>
    </ul>
  </div>
  <div id="content">
    <div class="list isAlwaysTop" v-if="!showAddList && showInputTop" @click="showAddList=true">
      <div class="list-add">
        <i class="el-icon-plus"></i>
        <p class="input-main">Add Task</p>
      </div>   
    </div>
    <div class="list isAlwaysTop" v-if="showAddList">
      <div class="list-head">
        <input id="checkBox" type="checkbox">
        <input autofocus type="text" v-model="nowList.todoTitle" class="txt-main input-main" placeholder="Type Something Here…">
            <i @click="showAddList=false" :class="{isEdit: showAddList}" class="el-icon-edit"></i> 
      </div> 
      
      <div class="list-detail">
        <div class="list-input">
          <h3><i class="el-icon-date"></i>Deadline</h3>
          <el-date-picker
            v-model="nowList.tTime"
            type="datetime"
            format="yyyy/MM/dd hh:mm:ss"
            placeholder="Choose the datetime">
          </el-date-picker>
        </div>
        <div class="list-input">
          <h3><i class="el-icon-document"></i>File</h3>
          <div class="file-content">
            <p class="file-name" v-if="nowList.fileList.length > 0">{{nowList.fileList}}</p>
            <label for="file-upload" class="custom-file-upload">
              <i class="el-icon-plus"></i>
            </label>
            <input type="file" id="file-upload" @change="handleChange()" ref="fileInput">
          </div>
          
        </div>
        <div class="list-input">
          <h3><i class="el-icon-more"></i>Comment</h3>
          <textarea class="input-textarea" v-model="nowList.comment"  placeholder="Type your memo here…"></textarea>
        </div>
        <div class="btn-group">
          <button @click="goCancel()" class="btn btn-cancel"><i class="el-icon-close"></i>Cancel</button>
        <button :disabled="nowList.todoTitle==''" @click="goAddTask(nowList.todoTitle, nowList.tTime, nowList.fileList, nowList.comment)" class="btn btn-default"><i class="el-icon-plus"></i>Add Task</button>
        </div>

      </div>

    </div>
    <div  class="list" v-for="(todoList, index) in filterLists" :class="{ isStar: todoList.myStar, isEnd: todoList.status  }">
<!--       <pre>{{todoList}}</pre> -->
      <div class="list-head" :class="{ done: todoList.status}">
        <input :id="'checkBox' + index" type="checkbox" v-model="todoList.status">
        <input type="text" :disabled="nowClickNum != index" class="txt-main input-main" :placeholder="todoList.todoTitle" v-model="todoList.todoTitle">
            <i @click="isStar(index)" :class="[todoList.myStar ? 'el-icon-star-on' : 'el-icon-star-off']"></i>
            <i @click="(nowClickNum == index)? nowClickNum = -1:nowClickNum = index" class="el-icon-edit" :class="{isEdit: nowClickNum == index}"></i> 
        <div class="list-shorcut" v-if="!todoList.status">
          <span v-if="todoList.tTime">
            <i class="el-icon-date "></i>{{myDate(todoList.tTime)}}
          </span>
          
          <i v-if="todoList.fileList.length > 0" class="el-icon-document"></i>
          <i v-if="todoList.comment" class="el-icon-more"></i>
        </div>
      </div> 
      <transition name="fade">
      <div class="list-detail" v-if="nowClickNum == index">
        <div class="list-input">
          <h3><i class="el-icon-date"></i>Deadline</h3>
          <el-date-picker
            v-model="todoList.tTime"
            type="datetime"
            format="yyyy/MM/dd hh:mm:ss"
            value-format="yyyy/MM/dd"
            placeholder="选择日期时间">
          </el-date-picker>
        </div>
        <div class="list-input">
          <h3><i class="el-icon-document"></i>File</h3>
          <div class="file-content">
            <p class="file-name" v-if="todoList.fileList">{{todoList.fileList}}</p>
            <label :for="'file-upload'+index" class="custom-file-upload">
              <i class="el-icon-plus"></i>
            </label>
            <input type="file" :id="'file-upload'+index" @change="handleChange(index)" :ref="'fileInput'+index">
          </div>
        </div>
        <div class="list-input">
          <h3><i class="el-icon-more"></i>Comment</h3>
          <textarea class="input-textarea" v-model="todoList.comment"  placeholder="Type your memo here…"></textarea>
        </div>
        <div class="btn-group">
          <button @click="goCancel(index)" class="btn btn-cancel"><i class="el-icon-close"></i>Cancel</button>
        <button @click="goEdit(index, todoList.todoTitle, todoList.tTime, todoList.fileList, todoList.comment)" class="btn btn-default"><i class="el-icon-plus"></i>Save</button>
        </div>

      </div>
      </transition>
    </div>
  </div>
</div>